body {
    margin: 0;
}

section{
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section:nth-child(1) {
    background-image: url("./assat/image1.png");
}
section:nth-child(2) {
    background-image: url("./assat/image2.png");
}
section:nth-child(3) {
    background-image: url("./assat/image3.png");
}
.title{
    font-size: 3em;
    font-weight: 600;
    color: white;
    text-align: center;
}
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}



.facebook_profile{
    position: relative;
    top: 0;
    left: 0;
}

.profile_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;

    position: absolute;
    top: 0px;
  left: 100px;

}

.cover_pic{
    height:200px ;
    width: 400px;

    position: relative;
 
  
  left: 0;
  bottom: 70px;
  border-radius: 3%;
  
}
.instagram{
align-items: center;
height: 200px;
width: 350px;
background-color: black;
border-radius: 4%;
box-shadow: 8px 8px 20px black;
}

.insta_prof{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: relative;
    right: 100px;
    top: 15px;
}

.insta_name{
    position: relative;
    bottom: 58px;
    left: 25px;
    font-weight: 100;
}
.follow{
    font-size: 13px;
    font-weight: 200;
    position: relative;
    bottom: 50px;
    left: 55px;
}

.fullname{
position:relative;
font-weight: 400;
font-size: 15px;
bottom: 50px;
left: 20px;
}

.barcode{
    font-size: 14px;
    position: relative;
    bottom: 55px;
    left: 23px;
}
.text1{
    font-size: 13px;
    position: relative;
    bottom: 65px;
    left: 20px;
    font-weight: 300;
}
.text2{
    font-size: 13px;
    position: relative;
    bottom: 82px;
    right: 25px;
    font-weight: 300;
}
.xdiv{
    width: 400px;
    height: 250px;
    background-color: black;
    border-radius: 3px;
box-shadow: 8px 8px 20px black;
}



.xprofile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    position: relative;
   bottom: 60px;
   right: 130px;
    
}

.xcover{
    height: 150px;
    width: 400px;
    position: relative;
    border-radius: 3px 3px;
}

.xtext1{
    bottom: 51px;
    right: 100px;
    position: relative;
}